<!DOCTYPE html>
<html>
<head>
    <style>
        #floatingDiv {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #f1f1f1;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: none;
        }
    </style>
</head>
<body>
    <input type="text" id="textInput">
    <button onclick="displayText()">Send</button>
    <div id="floatingDiv" class="floating-textarea"></div>></div>


    <textarea _ngcontent-ng-c207928905="" rows="1" matinput="" cdktextareaautosize="" cdkautosizeminrows="1" cdkautosizemaxrows="12" aria-label="Input for prompt text" placeholder="Enter a prompt here" class="mat-mdc-input-element cdk-textarea-autosize ng-tns-c2876826087-2 ng-valid gmat-mdc-input mat-mdc-form-field-textarea-control mat-mdc-form-field-input-control mdc-text-field__input cdk-text-field-autofill-monitored ng-dirty ng-touched" enterkeyhint="send" maxlength="10000" id="mat-input-0" aria-invalid="false" aria-required="false" style="min-height: 15px; max-height: 180px; height: 24px;"></textarea>
    <script>
        function displayText() {
            var inputText = document.getElementById('textInput').value;
            var floatingDiv = document.getElementById('floatingDiv');
            floatingDiv.innerText = inputText;
            floatingDiv.style.display = 'block';
        }
    </script>
</body>
</html>
