<!DOCTYPE html>
<html>
<head>
    <title>Real-Time Chat</title>
    <style>
        #floatingDiv {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #f1f1f1;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: none;
        }
    </style>
</head>
<body>
    <div id="floatingDiv"></div>
    <form id="chat-form">
        <input id="message-input" autocomplete="off" />
        <button>Send</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const floatingDiv = document.getElementById('floatingDiv');

        const messageForm = document.getElementById('chat-form');
        const messageInput = document.getElementById('message-input');

        messageForm.addEventListener('submit', (event) => {
            event.preventDefault();
            const message = messageInput.value.trim();
            if (message !== '') {
                socket.emit('chat message', message);
                messageInput.value = '';
            }
        });

        socket.on('chat message', (msg) => {
            floatingDiv.innerText = msg;
            floatingDiv.style.display = 'block';

            setTimeout(() => {
                floatingDiv.style.display = 'none';
            }, 3000);
        });
    </script>
</body>
</html>
